= simple_form_for(topic) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name, label: 'Nazwa grupy'
    = f.input :description, label: 'Opis'
  .form-actions
    - if current_page?(controller: 'topics', action: 'new')
      = f.submit 'Zapisz', class: "btn btn-success spacious"
    -else
      = f.submit 'Zapisz', class: "btn btn-warning spacious"