%h1 Grupy dat

%table.table.table-hover
  %thead
    %tr
      %th Nazwa
      %th
      %th
      %th

  %tbody
    - topics.each do |topic|
      %tr
        %td= topic.name
        %td
          %span= link_to 'Show', topic, class: "btn btn-primary"
          %span= link_to 'Edit', edit_topic_path(topic), class: "btn btn-warning"
          %span= link_to 'Destroy', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"

%br

= link_to 'New Topic', new_topic_path, class: "btn btn-success"
