%h1 Grupy wydarzeń

= link_to 'Nowa grupa wydarzeń', new_topic_path, class: "btn btn-success spacious"

%table.table.table-hover
  %thead
    %tr
      %th Nazwa grupy
      %th

  %tbody
    - topics.each do |topic|
      %tr
        %td= topic.name
        %td
          %span= link_to 'Pokaż', topic, class: "btn btn-primary"
          %span= link_to 'Edytuj', edit_topic_path(topic), class: "btn btn-warning"
          %span= link_to 'Usuń', topic, :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"