%h1
  Grupa wydarzeń:
  = topic.name

%h3= topic.description

= link_to 'Edytuj', edit_topic_path(topic), class: "btn btn-warning spacious"
= link_to 'Cofnij', topics_path, class: "btn btn-default spacious"
= link_to 'Nowe wydarzenie', new_topic_event_path(topic), remote: true, class: "btn btn-success spacious new-event"

%table.table.table-hover
  %thead
    %tr
      %th Początek
      %th Koniec
      %th Zdarzenie
  %tbody
    - topic.events.each do |event|
      %tr
        %td= event.start_date
        %td= event.end_date
        %td= event.name
        %td
          %span= link_to 'Pokaż', topic_event_path(topic, event), remote: true, class: "btn btn-primary show-event", id: "#{event.id}"
          %span= link_to 'Edytuj', edit_topic_event_path(topic, event), remote: true, class: "btn btn-warning edit-event", id: "#{event.id}"
          %span= link_to 'Usuń', topic_event_path(topic, event), :method => :delete, :data => { :confirm => 'Are you sure?' }, remote: true, class: "btn btn-danger delete-event", id: "#{event.id}"