%h1
  Grupa wydarzeń:
  = topic.name

%h3= topic.description

= link_to 'Edytuj', edit_topic_path(topic), class: "btn btn-warning spacious"
= link_to 'Cofnij', topics_path, class: "btn btn-default spacious"
= link_to 'Nowe wydarzenie', '#', class: "btn btn-success spacious"

%table.table.table-hover
  %thead
    %tr
      %th Początek
      %th Koniec
      %th Zdarzenie
  %tbody
    - topic.events.each do |event|
      %tr
        %td= event.start_date
        %td= event.end_date
        %td= event.name
        %td
          %span= link_to 'Pokaż', '#', class: "btn btn-primary"
          %span= link_to 'Edytuj', '#', class: "btn btn-warning"
          %span= link_to 'Usuń', '#', :method => :delete, :data => { :confirm => 'Are you sure?' }, class: "btn btn-danger"