= simple_form_for [topic, event] do |f|
  = f.error_notification
  .form-inputs
    = f.input :name, label: 'Wydarzenie'
    = f.input :start_date, label: 'Początek'
    = f.input :end_date, label: 'Koniec'
    = f.input :details, label: 'Szczegóły'
  .form-actions
    = f.submit 'Zapisz', remote: true, class: "btn btn-warning spacious"