%h1
  Test:
  = topic.name
%h3
  %span= link_to 'Pokaż grupę wydarzeń', topic_path(topic), class: 'btn btn-primary'
  %span= link_to 'Ucz się', learning_path(topic), class: "btn btn-info"
  %span= link_to 'Cofnij', tests_path, class: 'btn btn-default'

- @events.each do |event|
  .question.row
    .col-md-6
      .panel.panel-info.event
        .panel-heading
          %h3= event.name
        .panel-body
          = simple_form_for :answer, url: answer_path, remote: true do |f|
            .form-inputs
              .row
                = f.input :start_date, label: 'Początek', as: :string, hint: 'Format: 01.01.2015.', required: false, wrapper_html: { class: 'col-md-6' }
                = f.input :end_date, label: 'Koniec', as: :string, hint: 'Format: 01.01.2015. Puste pole: wydarzenie jednodniowe.', required: false, wrapper_html: { class: 'col-md-6' }
                = f.input :question, as: :hidden, input_html: { value: event.id }
            .form-actions
              = f.submit 'Sprawdź odpowiedź', class: "btn btn-success"

.next.hidden= link_to_next_page @events, 'Następne pytanie', class: 'btn btn-warning', params: { seed: params[:seed] }